/Office Addin ASP.Net Core Template/bin/**
/Office Addin ASP.Net Core Template/obj/**
/Office Addin ASP.Net Core Template/*.user

.vs/**
/Office Addin ASP.Net Core Template/ProjectTemplates/basic-addin-template
